{% extends 'base_accounts.html' %}

{% block title %}Reestablecer contraseña{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Reestablecer contraseña</h3>
                <p>Ingresa tu E-mail y te mandaremos un link para que reestablezcas tu contraseña</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary btn-block">Mandar correo</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
